*{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}

ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li div a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}

ul li{
  margin:1em;
  float:left;
}

ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li div a{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
  word-wrap: break-word;
}

ul li:nth-child(even) div a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) div a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
